/* Arquivo com classes para reutilizacao em todo o site do app
 * cada classe aplica um estilo ou define um elemento
 * use a classes no HTML e ira aplicar o efeti ode imadito
 * aqui o estilo fica padronizado
 * mudar detalhezinhos no CSS da pagina especifica
 * para ficar mais facil a organizacao */

.title-center {
    /* coloca o titulo do bloco no centro sem nada ao lado */
    text-align: center;
    flex-basis: 100%;
}

.title-left {
    text-align: left;
    flex-basis: 50%;
}

.title-right {
    text-align: right;
    flex-basis: 50%;
}

.title-center,
.title-left,
.title-right {
    margin: 20px auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.form-small {
    width: 300px;
    height: 300px;
}

.form-regular {
    width: 300px;
    height: 300px;
}

.form-big {
    width: 80%;
    height: 400px;
}

.img-block {
}

.icon-container {
    /* faz todos os icones/imgs dentro ficar pequeno */
}

.icon-container img {
    width: 50px;
    left: 50px;
}

.icon-big {
    /* faz o icone ficar maior que o padrao de 50px */
    width: 100px;
    height: 100px;
}

.card-container {
}

.cards-small {
}
.cards-medium {
}
.cards-small {
}

.cards-quality {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.cards-quality img {
    width: 50px;
    height: 50px;
}

.cards-quality > div {
    width: 200px;
    height: 200px;
    border: 3px solid black;
    border-radius: 10px;
}

.cards-quality > div > div {
    background-color: var(--fundoCard);
}
