@import url(./classes.css);

article:first-of-type .title-center p:first-of-type {
  margin-top: 30px;
}

article:first-of-type .card-container {
  margin-top: 30px;
  padding: 0 10%;
}

.form-large {
  margin-top: 50px;
  width: 80%;
  display: grid;
  grid: repeat(4, 1fr) / repeat(4, 1fr);
  place-items: center;
}

.form-large label {
  margin: 0;
}

.form-large input,
.form-large select {
  margin: 0;
}
