/* F4LIFE project
 * @name: style.css
 * @Description: main web site style
 */

/* CSS Variables */
/* Colors */

:root {
    /*--logoAzulEscuro: #1d2038;*/
    --logoAzulEscuro: #161a35;
    --logoAzulClaro: #45e3d6;
    --logoBranco: #fff;
    --texto: #000;
    --fundo: rgba(196, 196, 196, 0.2);
    --fundoCard: #6187c8;
}

/* classes com utilidades definidas para todo o site */
@import url(./classes.css);

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Roboto, sans-sefi;
}

/* tipografy */

h1,
h2,
h3,
p {
    color: black;
}

h1 {
    font-size: 40px;
}

h2 {
    color: var(--texto);
    font-size: 48px;
    line-height: 1;
}

p {
    font-size: 32px;
    line-height: 1.5;
}

/* links */

a {
    font-size: 24px;
}

/* lists */
li a {
    color: white;
}

/* elements */

form {
    width: 322px;
    height: 331px;
    min-width: 300px;
    min-height: 300px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--fundo);
    border: 3px solid #1d2038;
    border-radius: 40px;
}

form > * {
    margin: 20px 0;
}

label {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}
input {
    background-color: white;
    border: 3px solid #1d2038;
    border-radius: 10px;
    width: 212px;
    height: 52px;
}

input::placeholder {
    font-size: 24px;
    text-align: center;
}

input[type="submit"] {
    background-color: var(--fundoCard);
    color: white;
    font-size: 24px;
}

/* layout */

body {
    background-color: var(--fundo);
}

.container {
    width: 100%;
    max-width: 1366px;
    min-width: 350px;
    height: 500px;
    background-color: white;
    margin: 0 auto;
}

.header {
    background-color: var(--logoAzulEscuro);
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

.logo {
    width: 211px;
    height: 70px;
}

.menu {
    width: 50%;
}

.menu ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.menu img {
    width: 50px;
    height: 50px;
}

.menu a {
    color: white;
}

/* container principal do conteudo principal */
.main-container {
    width: 100%;
}

/* cada tela/quebra eh um artigo, separado aqui por numero */
/* configuracoes para artigos de todo o site */

article {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 53px;
    background-color: white;
}

/* duas cores para o fundo do conteudo, alternando */

article:nth-of-type(even) {
    background-color: var(--fundo);
}

/* classes para reutilizar nos blocos de conteudo */

.title-center {
    /* coloca o titulo do bloco no centro sem nada ao lado */
    text-align: center;
    margin: 20px auto;
}

.footer {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-items: space-around;
    align-items: center;
    background-color: var(--logoAzulEscuro);
}

.footer > * {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer p,
.footer a {
    color: white;
}

.description p {
    font-size: 32px;
    font-style: italic;
}

.description img {
    width: 316px;
    height: 245px;
}

.company-data {
    font-size: 24px;
    text-align: center;
}

.social-network {
    display: flex;
    justify-items: space-around;
    align-items: center;
}
.social-network img {
    width: 50px;
    height: 50px;
    margin: 0 30px;
}

.legal-info {
}

.legal-info ul {
    display: flex;
    justify-content: space-between;
}

.legal-info a {
    font-size: 24px;
}

@media screen and (max-width: 400px) {
    form {
        width: 80%;
    }
}
