@import url(./classes.css);

.main-container-header{
    display: flex;
    flex-direction: row;
    align-items:center ;
}
.linha-tempo-conteudo h2{
    background-color: var(--logoAzulEscuro);
    color: white;
    display: flex;
    justify-content:center;
    align-items: center;
}

#linha-tempo{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
 
#linha-tempo::after{
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%; 
    margin-left: -3px;
}
.linha-tempo{
    padding: 15px 50px;
    position: relative;
    width: 50%;
}
.esquerdo::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    right: -20px;
    background-color: white;
    border: 5px solid #000000;
    top: 2px;
    border-radius: 50%;
    z-index: 1;
}
.direito{
    padding: 15px 50px;
}
.linha-tempo-conteudo{
    padding: 20px 30px;
    background-color: white;
    border-radius: 6px;
} 