/* F4LIFE project
 * @name: style.css
 * @Description: main web site style
 */

/* variables */
@import url(./variables.css);

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    list-style: none;
    text-decoration: none;
}
